@import './Variables.css';
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;700&display=swap'); /* Futuristische Schriftart */

.menu {
    width: 200px;
    background-color: var(--menu-background);
    padding: 15px;
    box-sizing: border-box;
    font-family: var(--text-font);
}

.menu h2 {
    text-align: center;
    color: var(--secondary-color);
    text-shadow: 0 0 5px var(--secondary-color), 0 0 10px var(--secondary-color), 0 0 20px var(--secondary-color);
}

.menu ul {
    list-style-type: none;
    padding: 0;
}

.menu ul li {
    margin: 10px 0;
}

.menu ul li a {
    text-decoration: none;
    color: var(--primary-color);
    display: block;
    padding: 10px;
    background-color: var(--square-background);
    border-radius: 4px;
    transition: background-color 0.3s, box-shadow 0.3s;
    text-shadow: 0 0 5px var(--primary-color), 0 0 10px var(--primary-color);
}

.menu ul li a:hover {
    background-color: var(--border-color);
    box-shadow: 0 0 10px var(--primary-color), 0 0 20px var(--primary-color);
}