/* src/styles/TicTacToe.css */
@import './Variables.css';

.board-row {
    display: flex;
}

.square {
    width: 60px;
    height: 60px;
    background: var(--square-background);
    border: 1px solid var(--border-color);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    color: var(--primary-color);
    text-shadow: 0 0 5px var(--primary-color), 0 0 10px var(--primary-color);
    cursor: pointer;
    transition: background-color 0.3s, box-shadow 0.3s;
}

.square:hover {
    background-color: var(--border-color);
    box-shadow: 0 0 10px var(--primary-color), 0 0 20px var(--primary-color);
}

.status {
    margin-bottom: 10px;
    color: var(--secondary-color);
    text-shadow: 0 0 5px var(--secondary-color), 0 0 10px var(--secondary-color), 0 0 20px var(--secondary-color);
}

button {
    margin-top: 10px;
    background-color: var(--menu-background);
    color: var(--primary-color);
    border: 1px solid var(--border-color);
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.3s, box-shadow 0.3s;
    font-family: var(--text-font);
}

button:hover {
    background-color: var(--border-color);
    box-shadow: 0 0 10px var(--primary-color), 0 0 20px var(--primary-color);
}