/* src/styles/variables.css */
:root {
    --background-color: #0d0d0d;
    --primary-color: #00ffcc;
    --secondary-color: #ff00ff;
    --menu-background: #1a1a1a;
    --square-background: #333;
    --border-color: #555;

    --neon-pink: #ff007f;
    --neon-red-pink: #ff0066;
    --neon-green: #39ff14;
    --neon-blue: #0d98ba;
    --neon-purple: #8e44ad;
    --neon-orange: #ff4500;
    --neon-yellow: #faff00;

    --text-font: 'Orbitron', sans-serif;
}
