/* src/styles/App.css */
.App {
  display: flex;
  height: 100vh; /* Make the App container take full viewport height */
  background-color: #0d0d0d; /* Dunkler Hintergrund */
  color: #00ffcc; /* Neonfarbe für den Text */
  font-family: 'Orbitron', sans-serif; /* Futuristische Schriftart */
}

.content {
  padding: 20px;
  box-sizing: border-box; /* Include padding and border in the element's total width and height */
}
