/* src/styles/App.css */
@import './styles/Variables.css';

.App {
    display: flex;
    background-color: var(--background-color);
    height: 100vh;
    color: var(--primary-color);
    font-family: var(--text-font);
}
.content {
  padding: 20px;
  box-sizing: border-box; /* Include padding and border in the element's total width and height */
}
